@page "/"
<h3>Home</h3>
<body>
    <p>
        <b>Dies ist die Weboberfläche der OPT Wetterstation.<br />
        Hier können Live-Werte betrachtet, die Historie angeschaut und Einstellungen vorgenommen werden.</b>
    </p>
</body>

@code {


}